* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: $transition-theme;
  font-family: $font-family-base;
  @each $name, $color in $theme-colors {
    & .bg-#{$name} {
      background-color: $color;
    }
    & .text-#{$name} {
      color: $color;
    }
    & .tag-#{$name} {
      background-color: $color;
      color: $soft-color;
      font-weight: bold;
      padding: 5px 5px;
      border-radius: $border-radius;
      width: 90px;
      justify-content: center;
      // min-width: 40px;
      font-size: $font-size-xs
    }
    & .btn-#{$name} {
      @include button($soft-color, $color);
    }
    & .btn-link-#{$name} {
      @include buttonLink($color);
    }
    & .btn-outline-#{$name} {
      @include buttonOutline($color, $soft-color);
    }
  }
}

body.light {
  color: $dark-bg;
  background: $light-bg;
}

body.dark {
  color: $light-bg;
  background: $dark-bg;
  & .form-input {
    color: $white;
    background-color: #3b3d40;
    &::placeholder {
      color: $gray-200;
    }
  }
  & .form-textarea {
    color: $white;
    background-color: #3b3d40;
    &::placeholder {
      color: $gray-200;
    }
  }
}

button, a {
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 14px;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
  // text-transform: capitalize;
  font-size: $font-size-base;
  font-family: $font-family-base;
  border-radius: $border-radius-lg;
  transition: $transition-base;
  &:hover {
    transform: translateY(-2px);
  }
}

.btn {
  @include button();
}

.btn-link, .light__btn-link {
  @include buttonLink();
}

.btn-outline {
  @include buttonOutline();
}


.box-shadow {
  box-shadow: $box-shadow;
}

.form {
  @include formBasic();
}

.form-search {
  @include formSearch();
}

body .btn-soft {
  color: $dark-bg;
}

.btn-disable {
  cursor: default;
  &:hover {
    transform: none;
  }
}

body .btn-outline-white:hover,
body .btn-outline-soft:hover {
  color: $black;
}

body .btn-platzi {
  color: #273B47;
}