@import '../../static/scss/utils/variables';
@import '../../static/scss/mixins/shadow';

.ProgressBar {
  display: grid;
  margin: 0;
  transition: $transition-theme;
  &.light &__loader {
    background: $light-background;
  }
  &__loader {
    width: 100%;
    color: $soft-color;
    height: 25px;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-sm;
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 50%;
      height: 90%;
      position: relative;
      // background: $danger-color;
      border-radius: $border-radius-md;
      // @include shadow($danger-color);
    }
    & .size-60 {
      width: 60%;
    }
    & .size-70 {
      width: 70%;
    }
    & .size-30 {
      width: 30%;
    }
    & .react {
      background: $react;
      @include shadow($react);
    }

    & .sass {
      background: $sass;
      @include shadow($sass);
    }

    & .typescript {
      background: $typescript;
      @include shadow($typescript);
    }
  }
}