@import '../../scss/utils/variables';
@import '../../scss/mixins/shadow';

.AboutMe {
  gap: 20px;
  padding: 25px;
  &__body, &__footer {
    row-gap: 10px;
    justify-items: center;
  }

  &__footer {
    width: 100%;
    color: $white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: $border-radius;
    justify-content: space-evenly;
    @include shadow($primary-color);
    background-color: $primary-color;
    &--contact {
      display: flex;
      align-items: center;
      justify-self: flex-start;
    }
    &--contact a {
      padding: 0;
      padding-left: 5px;
    }
    & nav a {
      font-weight: normal;
      font-size: $icon-size-sm;
      transition: $transition-theme;
    }
    &.dark a {
      color: $soft-color;
    }
  }
}

@media (min-width: 768px) {
  .AboutMe {
    padding: 25px 10%;
  }

  .AboutMe__footer {
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .AboutMe {
    padding: 50px 20%;
  }
}

@media (min-width: 1440px) {
  .AboutMe {
    padding: 100px 20%;
  }
}