@import '../../scss/utils/variables';

.ProjectCard {
  gap: 15px;
  padding: 20px;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius;
  grid-template-rows: auto 1fr auto;
  &.light {
    background-color: $white;
  }
  &.dark {
    background-color: $black;
  }
}

.ProjectCard__header {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  & p strong {
    font-size: $font-size-xl;
  }
}

.ProjectCard__header--logo {
  width: 120px;
  padding: 5px;
  border-radius: $border-radius;
  background-color: rgba($white, 0.2);
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.ProjectCard__body {
  gap: 10px;
}

.ProjectCard__footer {
  justify-content: flex-end;
  & a {
    border-color: $gray-400;
  }
}

@media screen and (min-width: 768px) {

}