@mixin simpleForm() {
  &--control {
    gap: 10px;
  }
  &--label {
    margin-top: 20px;
    font-size: $font-size-md;
  }
  &--input {
    padding: 10px;
    border-radius: $border-radius;
    // border: 1px solid lighten($gray-color, 60%);
    border: none;
  }
  &--button {
    width: 100%;
    justify-content: center;
  }
}

@mixin simpleInputIconForm($color, $background) {
  display: grid;
  grid-template-areas: "content";
  & .form--input {
    grid-area: content;
    padding-right: 50px;
    border-bottom: 1px solid $soft-color;
  }
  & .form-icon-btn {
    grid-area: content;
    color: $color;
    background: $background;
    justify-self: right;
    border-radius: $border-radius;
  }
}