@import './../../static/scss/utils/variables';

.ProjectMin {
  width: 300px;
  border-radius: $border-radius;
  justify-self: center;
  box-shadow: $box-shadow;
  transition: $transition-theme;
  &.light {
    background: $soft-color;
  }
  &.dark {
    background: darken($dark-background, 5%);
  }
  &__image {
    margin: 0;
    justify-self: center;
    padding-top: 20px;
  }
  &__image img {
    width: 260px;
    height: 183px;
    object-fit: cover;
    object-position: center;
    border-radius: $border-radius;
  }
}

.ProjectMin__body {
  &--actions, &--details {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & i {
      padding-right: 5px;
      // color: $primary-color;
    }
  }
  &--details {
    padding-bottom: 0;
    & h3 {
      padding-left: 10px;
      align-items: center;
    }
    & i {
      font-size: $font-size-md;
    }
  }
  &--actions .btn-link, &--actions .btn-link-soft {
    font-size: $font-size-xs;
  }
  &--actions nav a {
    display: none;
    font-size: $font-size-xs;
    padding: 0 3px;
    color: $gray-500;
  }
}

@media (min-width: 420px) {
  .ProjectMin {
    width: 400px;
    &__image img {
      width: 360px;
      height: 244px;
    }
    &__body--actions nav a {
      display: flex;
    }
  }
}