@import './../../static/scss/utils/variables';
@import './../../static/scss/mixins/shadow';

.Pagination {
  display: flex;
  justify-self: center;
  box-shadow: $box-shadow;
  background: $soft-color;
  // padding: 10px;
  align-items: center;
  border-radius: $border-radius;
  &__body {
    display: flex;
  }
  & button {
    font-size: $font-size-sm;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
}