@import '../../scss/utils/variables';

.MoreAboutMe {
  gap: 25px;
  padding: 50px 25px;

  & h3 {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & a {
    padding-left: 0;
    justify-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .MoreAboutMe {
    padding: 25px 10%;
  }
}

@media screen and (min-width: 1024px) {
  .MoreAboutMe {
    padding: 100px 20%;
  }
}