@import '../../scss/utils/variables';

.PageNav {
  // display: grid;
  position: fixed;
  width: 80px;
  top: 80px;
  z-index: 200;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  display: none;
  // left: 25px;
  // gap: 10px;
  &.light {
    background-color: $soft-color;
  }
  &.dark {
    background-color: $secondary-color;
    & a {
      border: 1px solid $gray-color;
      color: $white;
    }
  }
  & a {
    // text-align: left;
    // justify-content: flex-start;
    border-radius: 0;
    justify-items: center;
    width: 100%;
    display: grid;
    gap: 5px;
    border: 1px solid lighten($gray-500, 5%)
  }
  & a:first-child {
    border-top-right-radius: $border-radius;
  }
  & a:last-child {
    border-bottom-right-radius: $border-radius;
  }
  & a span {
    font-weight: 500;
    font-size: $font-size-xs;
  }
}

@media screen and (min-width: 1440px) {
  .PageNav {
    display: grid;
  }
}