.Experience {
  padding: 20px;
}

.Experience__timeline {
  & .lines {
    grid-template-rows: auto 1fr auto 1fr auto 1fr;
  }

  & .lines--active {
    grid-template-rows: auto 1fr;
  }

  & .dot {
    width: 14px;
    height: 14px;
    background: var(--accent-color);
    border-radius: 7px;
  }

  & .line {
    width: 2px;
    background: #d1d6e6;
    margin-left: 5.3px;
  }
}

.Experience__header {
  & h3 {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & h3 span {
    display: flex;
  }
}

.Experience__timeline {
  display: flex;
  gap: 24px;
  padding-top: 24px;
}

.Experience__timeline--container {
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
}

.Experience__timeline--item {
  display: grid;
  text-align: left;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  align-content: flex-start;
  width: 100%;

  & button {
    justify-self: flex-end;
  }
}

.Experience__timeline--item--description {
  padding-top: 16px;
  display: grid;
  gap: 8px;
}

.Experience__bullets {
  list-style: disc;
  padding-left: 20px;
  margin: 8px 0 0 0;

  li {
    padding: 4px 0;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .Experience {
    padding: 25px 10%;
  }

  .Experience__timeline--container {
    grid-template-rows: repeat(3, auto);
  }
}

@media screen and (min-width: 1024px) {
  .Experience {
    padding: 50px 20%;
  }

  .Experience__timeline--container {
    grid-template-rows: repeat(3, auto);
  }
}
