.ExperienceList {
  // justify-items: center;
  & h2 {
    justify-self: center;
    padding: 50px 0;
  }
  &__elements {
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    justify-items: center;

  }
}

@media (min-width: 768px) {
  .ExperienceList {
    // justify-items: left;
    padding: 0 25px;
    & h2 {
      justify-self: left;
    }
  }
}

@media (min-width: 1000px) {
  .ExperienceList {
    padding: 0 100px;
  }
}

@media (min-width: 1440px) {
  .ExperienceList {
    padding: 0 300px;
  }
}