.Projects {
  gap: 50px;
  padding: 25px;
  padding: 100px 25px;
}

.Projects__header {
  gap: 4px;
}

.Projects__body {
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media screen and (min-width: 768px) {
  .Projects {
    padding: 100px 10%;
  }
}

@media screen and (min-width: 1024px) {
  .Projects {
    padding: 100px 20%;
  }
}
