.ProjectMinList {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
  margin: 60px 0;
  justify-items: center;
  animation: enterRight 1s;
}

@media (min-width: 768px) {
  .ProjectMinList {
    justify-items: left;
    margin: 50px 50px;
  }
}

@media (min-width: 1024px) {
  .ProjectMinList {
    margin: 50px 100px;
  }
}

@media (min-width: 1440px) {
  .ProjectMinList {
    margin: 50px 300px;
  }
}

@keyframes enterRight {
  0% {
    position: relative;
    right: -1080px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    // right: -500px;
  }
  100% {
    position: relative;
    right: 0px;
    opacity: 1;
  }
}