@import '../../scss/utils/variables';

.Skills {
  padding: 25px;
  & > .flex {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.Skills__footer {
  padding-top: 50px;
}

.Skill--item {
  gap: 25px;
  padding: 25px;
  justify-items: center;
  & figure {
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: $font-size-xxl;
    border-radius: $organic-radius;
  }
}

.Skills__body {
  gap: 10px;
  border-radius: $border-radius;
}

@media screen and (min-width: 426px) {
  .Skill--item  {
    padding: 25px 50px;
  }
}

@media screen and (min-width: 768px) {
  .Skills {
    padding: 100px 10%;
  }
}

@media screen and (min-width: 1024px) {
  .Skills {
    padding: 100px 20%;
  }
}