@import '../../scss/utils/variables';

.Skills {
  gap: 25px;
  padding-top: 50px;
  justify-items: center;
  & > .flex {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.Skill--item {
  gap: 25px;
  justify-items: center;
  padding: 25px;
  & figure {
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: $font-size-xxl;
    border-radius: $organic-radius;
  }
}

.Skills__body {
  gap: 10px;
  padding: 25px;
  max-width: 1000px;
  border-radius: $border-radius;
  & h6 {
    color: $white;
    font-size: $font-size-lg;
  }
  & > .flex {
    flex-wrap: wrap;
    padding-top: 25px;
    align-items: flex-start;
  }
  & ul {
    row-gap: 15px;
    padding: 20px 0;
    column-gap: 20px;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
  }
  & ul li {
    color: $gray-700;
  }
}

@media screen and (min-width: 426px) {
  .Skill--item  {
    padding: 25px 50px;
  }
}

@media screen and (min-width: 768px) {
  .Skills__body {
    & > .flex {
      justify-content: space-between;
    }
  }
}