@import './../../static/scss/utils/variables';
@import './../../static/scss/mixins/shadow';

.Footer {
  color: $soft-color;
  @include shadow($primary-color);
  background-color: $primary-color;
  margin-top: 100px;
  padding-top: 25px;
  &__head {
    justify-self: center;
    justify-items: center;
    align-content: center;
    &--image {
      margin: 0;
    }
  }
  &__body {
    justify-self: center;
    width: 80%;
    padding: 50px 0;
  }
  &__copyright {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include shadow($secondary-color);
    background-color: $secondary-color;
    & h6 {
      padding: 0 25px;
    }
  }
  &__head--image img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
}

@media (min-width: 500px) {
  .Footer {
    padding-top: 0px;
    grid-template: 1fr auto / auto auto;
    &__head {
      grid-column: 1 / 2;
    }
    &__body {
      grid-column: 2 / 3;
    }
    &__copyright {
      grid-column: 1 / 3;
    }
  }
}

@media (min-width: 1440px) {
  .Footer {
    grid-template: 1fr auto / 0.3fr auto;
    &__head {
      justify-self: flex-end;
    }
    &__body {
      width: 50%;
    }
  }
}