@import '../../scss/utils/variables';

.custom-shape-divider-top-1612900754 {
  position: relative;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  // height: 0;
  &.bottom-150px {
    bottom: -150px;
  }
}

.custom-shape-divider-top-1612900754 svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1612900754 .shape-fill {
  &.light-bg {
    fill: $light-bg;
  }
  &.primary {
    fill: $primary-color
  }
}

.custom-shape-divider-top-1612903336 {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  position: relative;
  &.top-100 {
    top: 100px;
  }
}

.custom-shape-divider-top-1612903336 svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1612903336 .shape-fill {
  &.light-bg {
    fill: $light-bg;
  }
  &.primary {
    fill: $primary-color
  }
}