@import '../../scss/utils/variables';

.custom-shape-divider-top-1612903874 {
  // position: absolute;
  position: relative;
  // top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  line-height: 0;
  &.bottom-100 {
    bottom: 150px;
  }
}

.custom-shape-divider-top-1612903874 svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1612903874 .shape-fill {
  &.light-bg {
    fill: $light-bg;
  }
  &.white {
    fill: $white
  }
}