@mixin button($color: $soft-color, $background: $primary-color) {
  color: $color;
  background-color: $background;
  @include shadow($background);
  @if (type-of($background) == 'color') {
    &:hover {
      transform: translateY(-2px);
      background: darken($background, 2%);
    }
  }
}

@mixin buttonOutline($color, $background) {
  @include button($color, none);
  border: 1px solid rgba($color, 0.3);
  @include shadow($color);
  &:hover {
    transform: translateY(-2px);
    color: $background;
    background: $color;
  }
}

@mixin buttonLink($color: $primary-color) {
  color: $color;
  border: none;
  background: none;
  &:hover {
    transform: translateY(-2px);
  }
}

@mixin buttonSocial($color) {
  @include button($white, $color);
}

@mixin buttonSocialLink($color) {
  @include buttonLink($color);
  font-size: $icon-size-sm;
}

@mixin buttonSocialCircular($color, $background) {
  @include button($color, $background);
  width: 40px;
  height: 40px;
  border-radius: $circle-radius;
  padding: 0;
}