@mixin button($color: $soft-color, $background: $primary-color) {
  color: $color;
  background-color: $background;
  @include shadow($background);
  @if (type-of($background) == 'color') {
    &:hover {
      background-color: darken($background, 2%);
    }
  }
}

@mixin buttonPill($color: $soft-color, $background: $primary-color) {
  @include button($color, $background);
  border-radius: $border-radius-pill;
}

@mixin buttonOutline($color: $primary-color, $background: $soft-color) {
  color: $color;
  background: none;
  border: 1px solid $color;
  &:hover {
    color: $background;
    background-color: $color;
  }
}

@mixin buttonLink($color: $primary-color) {
  color: $color;
  border: none;
  background: none;
}

@mixin buttonSocial($color) {
  @include button($white, $color);
}

@mixin buttonSocialLink($color) {
  @include buttonLink($color);
}

@mixin buttonSocialCircular($color, $background) {
  @include button($color, $background);
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: $circle-radius;
}
