@import '../../scss/utils/variables';

.Contact {
  gap: 25px;
  padding: 50px 25px;
  justify-self: center;
  & .btn-instagram {
    display: none;
  }
}

.MoreAboutMe--emoji {
  width: 100%;
  height: 100%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

@media screen and (min-width: 375px) {
  .Contact {
    & .btn-instagram {
      display: flex;
    }
  }
}

@media screen and (min-width: 768px) {
  .Contact {
    row-gap: 20px;
    column-gap: 50px;
    padding: 50px 10%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .Contact {
    padding: 50px 20%;
  }
}